@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #febb3a;
    --color-secondary: #172933;
}

body,
p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

body img {
    max-width: 100%;
    height: auto;
}

body a {
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    color: var(--color-primary);
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

body h1,
body .h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.15;
    font-family: inherit;
}

body h2,
body .h2 {
    font-size: 54px;
    font-weight: 700;
    line-height: 1.14;
    font-family: inherit;
}

body h3,
body .h3 {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.15;
    font-family: inherit;
}

body h4,
body .h4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.4;
    font-family: inherit;
}

body h5,
body .h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.16;
    font-family: inherit;
}

body h6,
body .h6 {
    font-size: 18px;
    font-weight: 700;
    font-family: inherit;
}

body input:not([type="radio"]):not([type="checkbox"]),
body select,
body textarea{
    font-size: 16px;
    line-height: 28px;
    height: 50px;
    padding: 10px 13px;
    background: #F5F5F5;
    border-radius: 5px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.278) inset;
    color: #000000;
    border: none;
    outline: none;
    font-family: inherit;
    transition: 0.3s all;
}

body input::placeholder,
body select::placeholder,
body textarea::placeholder{
    color: #C2C2C2;
    text-transform: capitalize;
}


body input:not([type="radio"]):focus:not([type="checkbox"]):focus,
body select:focus,
body textarea:focus{
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.278) inset;
}

body select{
    appearance: none;
    text-transform: capitalize;
}

body input[type="date"]{
    position: relative;
    overflow: hidden;
}

body input[type="date"]::-webkit-calendar-picker-indicator{
    position: absolute;
    width: 100%;
    height: 100%;
    left: -32px;
    right: 0;
    opacity: 0;
}

button{
    font-family: inherit;
}

body .btn{
    background: var(--color-primary);
    border-radius: 5px;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid var(--color-primary);
    outline: none;
    cursor: pointer;
    text-decoration: none !important;
    display: inline-block;
    padding: 14px;
    transition: 0.3s all;
}

body .btn:hover{
    opacity: 0.9;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}