.contact-wrapper{
    padding: 100px 0
}

.contact-wrapper .container{
    display: flex;
}

.contact-wrapper .form-wrapper{
    width: calc(100% - 330px);
    margin-right: 30px;
}

.contact-wrapper .form-text{
    max-width: 100%
}

.contact-wrapper .form-fields{
    margin-top: 30px
}

.contact-wrapper button[type="submit"]{
    margin-top: 30px;
}

.contact-wrapper .brand-info{
    width: 300px;
}

.contact-wrapper .brand-info a{
    color: var(--color-secondary);
}

.contact-wrapper .brand-info .social-links{
    margin-top: 16px;
    margin-left: -13px;
}

.contact-wrapper .brand-info h6{
    margin-bottom: 30px;
}

.contact-wrapper .brand-info p{
    margin-bottom: 8px;
}

.google-map{
    display: flex;
}

.google-map iframe{
    aspect-ratio: 6/2.5;
}