.header{
    position: sticky;
    top: 0;
    z-index: 10;
}

.headerTopBar{
    background-color: var(--color-secondary);
}

.headerTopBar .container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 48px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.topBarNav{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.topBarNav > li > a{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.61;
    display: inline-block;
    margin: 0 29px;
    padding: 5px 0;
}

.headerTopBar .search{
    position: relative;
}

.headerTopBar .search > .search-btn{
    background: url('../images/search-icon.svg') center no-repeat;
    display: block;
    height: 25px;
    width: 25px;
    background-size: 20px;
    cursor: pointer;
    padding: 0;
    border: none;
    transition: 0.3s all;
}

.headerTopBar .search > .search-btn:hover{
    opacity: 0.7;
}

.headerTopBar .search-form{
    position: absolute;
    top: calc(100% + 12px);
    background-color: #ffffff;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    padding: 10px 16px 27px;
    display: flex;
    right: 0;
    flex-direction: column;
    width: 303px;
    transition: 0.3s all;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    z-index: 1;
}

.headerTopBar .search-form.show{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.headerTopBar .search-form h6{
    font-size: 16px;
    text-transform: capitalize;
    line-height: 28px;
}

.headerTopBar .search-form p{
    font-size: 14px;
    line-height: 24px;
}

.headerTopBar .search-form input{
    margin-top: 21px;
}

.headerTopBar .search-form button{
    margin-top: 20px;
}

.headerBottom{
    background-color: #ffffff;
}

.headerBottom .container{
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}

.brand-logo{
    max-width: 176px;
    height: 63px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.brand-logo img{
    height: 100%;
    width: auto;
}

.mainNav{
    margin-left: auto;
    display: flex;
    align-items: center;
    list-style: none;
}

.mainNav > li > a{
    display: inline-block;
    padding: 10px 0;
    margin: 0 25px;
    color: var(--color-secondary);
    position: relative;
    text-decoration: none !important;
    text-transform: capitalize;
}

.mainNav > li > a:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--color-secondary);
    bottom: 0;
    left: 0;
    transition: 0.3s all;
    opacity: 0;
}

.mainNav > li > a:hover:after,
.mainNav > li.active > a:after{
    opacity: 1;
}

.headerBottom > .container .btn{
    margin-left: 25px;
}

.mainNav li.hasSubmenu{
    position: relative;
}

.mainNav li.hasSubmenu:after{
    position: absolute;
    width: 100%;
    height: 25px;
    content: "";
    top: 100%;
    left: 0;
}

.mainNav > li ul{
    list-style: none;
    position: absolute;
    top: 69px;
    background-color: #E4F5FF;
    width: 340px;
    left: 0;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;
    z-index: 10000000000000000000000000000;
}

.mainNav > li .arrow{
    display: none;
    position: absolute;
    right: 15px;
    top: 9px;
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    background: url("../images/menu-arrow.svg") center no-repeat;
    background-size: 7px;
    cursor: pointer;
    transition: 0.3s all;
}

.mainNav > li .arrow.active{
    transform: rotate(-90deg);
}

.mainNav > li > ul > li ul{
    left: 100%;
    top: 0;
}

.mainNav li:hover > ul{
    opacity: 1;
    visibility: visible;
}

.mainNav > li ul > li > a{
    padding: 10px 35px;
    color: var(--color-secondary);
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    transition: 0.3s all;
}

.mainNav li > a:hover{
    background-color: #ffffff;
    text-decoration: underline;
}

.headerFormPopup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    transition: 0.3s all;
    opacity: 0;
    visibility: hidden;
}

.headerFormPopup.active{
    opacity: 1;
    visibility: visible;
}

.headerFormPopup .close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    min-height: 30px;
    background: url('../images/close-icon.svg') right center no-repeat;
    background-size: 30px;
    cursor: pointer;
    border: none;
    transition: 0.3s all;
    z-index: 3;
    padding-right: 40px;
    text-transform: uppercase;
}

.headerFormPopup .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.603);
    cursor: pointer;
}

.requestInformationForm{
    background-color: #ffffff;
    height: 100%;
    position: relative;
    z-index: 1;
    width: 930px;
    max-width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    transition: 0.3s all;
    transform: translateX(100%);
}

.headerFormPopup.active .requestInformationForm{
    transform: translateX(0);
}

.requestInformationForm .form-inner{
    max-width: 578px;
    width: 100%;
    padding: 20px;
}

.requestInformationForm .form-text{
    max-width: 408px;
}

.requestInformationForm .form-text h4{
    font-size: 36px;
    line-height: 1.5;margin-top: 24px;
}

.requestInformationForm .form-text p{
    font-size: 18px;
    line-height: 1.5;
    margin-top: 6px;
    font-weight: 400;
}

.requestInformationForm .form-fields{
    width: 100%;
    margin-top: 80px;
}

.requestInformationForm .form-row{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 18px);
    margin: -9px;
    margin-top: 18px;
}

.requestInformationForm .form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    position: relative;
}

.requestInformationForm .form-group label{
    font-size: 10px;
    line-height: 15px;
    text-transform: capitalize;
    color: rgba(141, 141, 141, 1);
    position: absolute;
    left: 13px;
    top: 7px;
}

.requestInformationForm .form-group input,
.requestInformationForm .form-group select{
    height: 50px !important;
    border-radius: 0 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    padding-top: 25px !important;
    background-color: transparent !important;
}

.requestInformationForm .form-row-full{
    margin-top: 27px;
}

.requestInformationForm .form-row .form-group{
    width: calc(50% - 18px);
    margin: 9px;
}

.requestInformationForm  button[type="submit"]{
    margin-top: 60px;
}

.success-box{
    margin-top: 57px;
    max-width: 400px;
}

.success-icon{
    height: 76px;
    width: 76px;
    border-radius: 50px;
    min-width: 76px;
    background: url("../images/success-icon.svg") center no-repeat;
    background-size: contain;
}

.success-box h4{
    margin-top: 26px;
}

.success-box p{
    margin-top: 20px;
}

.MenuToggleBtn{
    width: 22px;
    height: 19px;
    background: url("../images/menu-icon.svg") center no-repeat;
    background-size: contain;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 20px;
    display: none;
}

.mainMenuWrapper{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.headerBottom .search-btn{
    background: url('../images/search-icon-black.svg') center no-repeat;
    display: block;
    height: 25px;
    width: 25px;
    background-size: 20px;
    cursor: pointer;
    padding: 0;
    border: none;
    transition: 0.3s all;
    display: none;
    margin-left: 20px;
}