.header{
    position: sticky;
    top: 0;
}

.headerTopBar{
    background-color: var(--color-secondary);
}

.headerTopBar .container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 48px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.topBarNav{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.topBarNav > li > a{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.61;
    display: inline-block;
    margin: 0 29px;
    padding: 5px 0;
}

.headerTopBar .search{
    position: relative;
}

.headerTopBar .search > .search-btn{
    background: url('../images/search-icon.svg') center no-repeat;
    display: block;
    height: 25px;
    width: 25px;
    background-size: 20px;
    cursor: pointer;
    padding: 0;
    border: none;
    transition: 0.3s all;
}

.headerTopBar .search > .search-btn:hover{
    opacity: 0.7;
}

.headerTopBar .search-form{
    position: absolute;
    top: calc(100% + 12px);
    background-color: #ffffff;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    padding: 10px 16px 27px;
    display: flex;
    right: 0;
    flex-direction: column;
    width: 303px;
    transition: 0.3s all;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    z-index: 1;
}

.headerTopBar .search-form.show{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.headerTopBar .search-form h6{
    font-size: 16px;
    text-transform: capitalize;
    line-height: 28px;
}

.headerTopBar .search-form p{
    font-size: 14px;
    line-height: 24px;
}

.headerTopBar .search-form input{
    margin-top: 21px;
}

.headerTopBar .search-form button{
    margin-top: 20px;
}

.headerBottom{
    background-color: #ffffff;
}

.headerBottom .container{
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.brand-logo{
    max-width: 176px;
    height: 63px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.brand-logo img{
    height: 100%;
    width: auto;
}

.mainNav{
    margin-left: auto;
    display: flex;
    align-items: center;
    list-style: none;
}

.mainNav > li > a{
    display: inline-block;
    padding: 10px 0;
    margin: 0 25px;
    color: var(--color-secondary);
    position: relative;
    text-decoration: none !important;
    text-transform: capitalize;
}

.mainNav > li > a:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--color-secondary);
    bottom: 0;
    left: 0;
    transition: 0.3s all;
    opacity: 0;
}

.mainNav > li > a:hover:after,
.mainNav > li.active > a:after{
    opacity: 1;
}

.headerBottom > .container .btn{
    margin-left: 25px;
}

.mainNav li.hasSubmenu{
    position: relative;
}

.mainNav > li ul{
    list-style: none;
    position: absolute;
    top: 70px;
    background-color: #E4F5FF;
    width: 370px;
    left: 0;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;
}

.mainNav > li > ul > li ul{
    left: 100%;
    top: 0;
}

.mainNav li:hover > ul{
    opacity: 1;
    visibility: visible;
}

.mainNav > li ul > li > a{
    padding: 10px 35px;
    color: var(--color-secondary);
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    transition: 0.3s all;
}

.mainNav li > a:hover{
    background-color: #ffffff;
    text-decoration: underline;
}

.headerFormPopup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
}

.headerFormPopup .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.603);
    cursor: pointer;
}

.requestInformationForm{
    background-color: #ffffff;
    height: 100%;
    position: relative;
    z-index: 1;
    width: 930px;
    max-width: 95vw;
}