@media (max-width: 767px) {
    body h1, body .h1 {
        font-size: 36px;
        line-height: 1.28;
    }

    body h4, body .h4{
        font-size: 24px;
    }

    body h2,
    body .h2 {
        font-size: 32px;
    }

    body h3,
    body .h3 {
        font-size: 28px;
    }

    .hero-content:after{
        content: none;
    }

    .hero-content p{
        font-size: 18px;
    }

    .divider{
        height: 4px;
        width: 60px;
    }

    .hero-content{
        min-height: 200px;
        padding: 60px 15px;
        width: 100%;
        background-color: rgba(5, 33, 59, 0.8);
    }

    .hero-section .hero-overlay{
        width: 100%;
    }

    .hero-section .container{
        padding: 0;
    }

    .hero-content .divider{
        margin-top: 16px;
    }

    .hero-content p{
        font-size: 16px;
    }

    .termSection{
        padding: 50px 0;
    }

    .term-box table th{
        width: 40%;
    }

    .termBoxFooter{
        flex-direction: column;
        align-items: flex-start;
    }

    .termBoxFooter a{
        margin-top: 20px;
    }

    .term-box .heading{
        padding: 28px 30px 20px;
    }

    .tabular-items .swiper-button-prev,
    .tabular-items .swiper-button-next {
        padding-bottom: 65%;
    }

    .tabSliderSection{
        padding: 50px 0;
    }

    .tabSliderSection .tabular-slider{
        margin-top: 23px;
    }

    .row{
        flex-direction: column;
    }

    .row .col-6{
        width: 100%;
    }

    .imageSection .content{
        max-width: 100%;
        padding: 0;
    }

    .imageSection{
        padding: 0;
    }

    .imageSection .overlay{
        position: static;
        width: 100%;
        display: flex;
    }

    .imageSection .container{
        padding: 50px 15px;
    }

    .imageSection .content h2{
        font-size: 32px;
    }

    .programBox{
        width: calc(100% - 30px);
    }

    .ctaWithImage{
        padding: 50px 0;
    }

    .ctaWithImage .content{
        margin-top: 20px;
    }

    .videoOverlay .play-icon{
        height: 50px;
        width: 50px;
    }
    
    .questionsSection{
        padding: 50px 0;
    }

    .questionsSection .row .col-6{
        width: 100%;
    }

    .questionsSection .row .col-6:not(:first-child){
        margin-top: 30px;
    }

    .questionsSection .row{
        margin-top: 30px;
    }

    .feeComparison{
        padding: 50px 0;
    }

    .comparison-wrapper{
        margin-top: 30px;
    }

    .comparison-box{
        flex-direction: column;
        padding: 10px 0;
        align-items: flex-start;
    }

    .comparison-box .university{
        text-align: start;
        min-width: 150px;
    }

    .comparison-box .university img{
        max-width: 140px;
    }

    .comparison-box .fee{
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
    }

    .comparison-box .fee h6{
        right: 0;
        left: auto;
        top: -30px;
    }

    .cta-section{
        padding: 50px 0;
    }

    .cta-section p{
        font-size: 16px;
    }

    .cta-section .btns-wrapper{
        margin-top: 20px;
    }

    .footer-top .container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 540px;
    }

    .footer-top{
        padding: 40px 0;
    }

    .footer-top .brand-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-top .brand-info .address,
    .footer-top .brand-info .number,
    .footer-top .brand-info .contact{
        padding-left: 0;
    }

    .footer-top .brand-info .address:after,
    .footer-top .brand-info .number:after,
    .footer-top .brand-info .contact:after{
        content: none;
    }

    .footer .brand-logo{
        margin-right: 0;
        max-width: 207px;
        height: auto;
    }

    .footer-navs{
        padding: 0;
        margin-top: 30px;
        align-items: center;
    }

    .footer-navs p{
        text-align: center;
    }


    .footer-navs .footer-nav{
        margin-left: 0;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .footer-navs .partners{
        margin-left: -6px;
        margin-right: -6px;
    }

    .footer-navs .partners a{
        margin: 0 6px;
    }

    .footer-bottom .container{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        max-width: 540px;
    }

    .footer-bottom .about{
        margin-top: 20px;
    }

    .footer-bottom .about ul{
        justify-content: center;
        flex-wrap: wrap;
    }

    .contact-wrapper{
        padding: 50px 0;
    }

    .contact-wrapper .container{
        flex-direction: column;
    }

    .contact-wrapper .form-wrapper{
        width: 100%;
        margin-right: 0;
    }

    .contact-wrapper .brand-info{
        width: 100%;
        margin-top: 50px;
    }

    .textHero .container{
        min-height: 100px;
    }

    .google-map iframe{
        aspect-ratio: 6/4;
    }
}